In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import json

In [2]:
# Output File (CSV)

stl_zip_codes = "STL_zipcodes.csv"

stl_zip_df = pd.read_csv(stl_zip_codes)
stl_zip_df.head()

   ZIP Code      Type            County Population Area Code(s)
0     63124  Standard       Saint Louis        294          314
1     63125  Standard  Saint Louis City      2,316          314
2     63126  Standard  Saint Louis City      2,620          314
3     63127  Standard       Saint Louis      4,939          314
4     63128  Standard  Saint Louis City      6,900          314

In [3]:
stl_zip_df.drop('Type', axis=1, inplace=True)
stl_zip_df.drop('Area Code(s)', axis=1, inplace=True)
stl_zip_df.head()

   ZIP Code            County Population
0     63124       Saint Louis        294
1     63125  Saint Louis City      2,316
2     63126  Saint Louis City      2,620
3     63127       Saint Louis      4,939
4     63128  Saint Louis City      6,900

In [4]:
zip_codes = stl_zip_df['ZIP Code']
zip_codes

0     63124
1     63125
2     63126
3     63127
4     63128
5     63129
6     63130
7     63131
8     63132
9     63133
10    63134
11    63135
12    63136
13    63137
14    63138
15    63139
16    63140
17    63141
18    63143
19    63144
20    63145
21    63146
22    63147
23    63150
24    63151
25    63155
26    63156
27    63157
28    63158
29    63160
30    63163
31    63164
32    63166
33    63167
34    63169
35    63171
36    63177
37    63178
38    63179
39    63180
40    63182
41    63188
42    63195
43    63197
44    63199
Name: ZIP Code, dtype: int64